config SHIELD_NIRVANA_LEFT
    def_bool $(shields_list_contains,nirvana_left)
  
config SHIELD_NIRVANA_RIGHT
    def_bool $(shields_list_contains,nirvana_right)
  
config SHIELD_NIRVANA_DONGLE
    def_bool $(shields_list_contains,nirvana_dongle)
