#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&kp A           &kp A           &kp F2            &kp F3        &kp F4  &kp F5       &kp F8      &kp F9  &kp F10      &kp F11  &kp A  &kp A
&kp F1          &kp W           &kp E             &kp R         &kp T   &kp F6       &kp F7      &kp Y   &kp U        &kp I    &kp O  &kp F12
&kp Q           &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LCTRL F   &kp G   &kp D        &kp E       &kp H   &mt RCTRL J  &kp H    &kp I  &kp P
&mt LEFT_WIN A  &kp X           &kp C             &kp V         &kp B   &kp COMMA    &kp PERIOD  &kp N   &kp M        &kp A    &kp A  &kp V
&kp Z           &kp X           &kp Y             &kp UP_ARROW  &kp A   &kp B        &kp C       &kp D   &kp E        &kp F    &kp G  &kp RCTRL
&kp A           &kp J           &kp K             &kp L                                                  &kp M        &kp N    &kp O  &kp A
            >;

            sensor-bindings = <&inc_dec_kp A B &inc_dec_kp C D &inc_dec_kp E F &inc_dec_kp G H>;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                                    &trans  &trans  &trans  &trans
            >;
        };
    };
};
